.box{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 41, 56, 0.534);
}
.sidebar{
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: white;
    overflow: scroll;
}
.content {
    pointer-events: auto;
}
.head{
    background-color: rgb(17, 24, 128);
    height: 30px;
    color: rgb(247, 242, 242);
    font-size: small;
    display: flex;
    justify-content: space-between;
}
.head > *{
    margin: 5px;
}
.bodystyle{
    display: flex;
    flex-direction: column;
    margin: 2px 0px 2px 10px;
}
.tabs{
    display: flex;
    justify-content: start;
    color: gray;
    width: 100%;
    margin-bottom: 2%;
    /* background-color: black; */
}
.tabs>div{
    padding: 12px;
    width: 10%;
    border-bottom: 3px solid rgba(128, 128, 128, 0.496);
    /* background-color: aqua; */
}
.tabs>div.active{
    border-bottom: 3px solid rgb(28, 0, 239);
    color: rgb(28, 0, 239) ;
}
.widget{
    position: relative;
    border: 2px solid rgba(128, 128, 128, 0.705);
    border-radius: 5px;
    margin: 0% 2% 1% 2%;
    font-size: 14px;
    font-weight: 500;
    padding: 2px;
    color: #182034a1;
}
.widget > input{
    margin: 6px;
}
.button{
    position: absolute;
    right: 0;
    border: none;
    margin: 5px;
}
.form {
    border: 1px solid #00000077;
    border-radius: 5px;
    margin: 0% 2% 1% 2%;
}
.form>label , .form >input , .form>div{
    margin: 10px;
}
.form >div{
    display: flex;
    flex-direction: column;
}
.form > button{
    margin: 12px;
}
/*Footer Button styling in Add wiget sidebar*/
.footer{
    display: flex;
    height: 65%;
    justify-content: end;
    align-items: end;
    gap: 10px;
}
.cancelButton {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    height: 40px;
  }
  
  .cancelButton:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .cancelButton:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }
  
  .cancelButton:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
.confirmButton {
    background: #0c003e;
    border: 1px solid #030d59;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    height: 40px;
  }
  
  .confirmButton:hover,
  .confirmButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #6e42ff;
  }
  
  .confirmButton:active {
    opacity: .5;
  }
  
  